<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto mb-4">
      <div class="my-3 text-center text-md-start">
        <h1 class="fw-bold text-primary">Detalhes da Anotação</h1>
        <app-diario-detalhes [anotacao]="anotacao"></app-diario-detalhes>
        <div class="d-grid d-md-block gap-2 mt-5">
          <a
            role="button"
            class="btn btn-outline-primary col-md-2"
            routerLink="/diario">
            <i class="pi pi-sign-out me-2"></i>Voltar
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
