
<div *ngFor="let medicos of (medicos$ | async )">
  <div *ngIf="medicos.cidade === 'Otacílio Costa'">
<br>
<div class="card mb-3" style="max-width: 815px;">
  <div class="row">
    <div class="col-5 col-sm-4 d-flex flex-wrap justify-content-center align-items-center">
      <img [src]="medicos.foto" class="rounded-start" alt="..." width="100%" style="height: 100%;">
    </div>
    <div class="col-7 col-sm-8">
      <div class="card-body px-0">
        <h5 class="card-title">{{ medicos.nome}}</h5>
        <p class="card-text"><small class="text-body-primary">{{ medicos.crp }}</small></p>
        <a href="{{medicos.telefone}}" target="_blank"><i class="pi pi-phone" style="font-size: 20px;"></i></a>
        <a class="p-2" href="{{medicos.linkedin}}" target="_blank"><i class="pi pi-linkedin" style="font-size: 20px;"></i></a>
        <a href="{{medicos.whatsapp}}" target="_blank"><i class="pi pi-whatsapp" style="font-size: 20px; color: green;"></i></a>

      </div>
    </div>
  </div>
</div>
</div>
</div>
