<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class=" my-5 p-1 p-md-3">
        <div class="p-2 pt-5 p-md-5 mb-4 rounded-3">


            <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/13211713-mao-humana-ajuda-jovem-triste-em-depressao-vetor.jpg"
            class="img-fluid rounded-3" alt="Phone image">

            <h1 class="display-6 fw-bold">
               <span class="text-primary"> Olá, Seja bem vindo!</span>
            </h1>

            <p class="fs-4 mt-4">
              Seja bem-vindo ao Sistema de Auxilio a Depressão da <span class="text-primary">Web Emotional Balance</span>.
            </p>

            <div class="d-grid d-lg-flex text-center gap-2 mt-5">
              <button class="btn btn-primary btn-lg mt-md-auto" type="button" routerLink="/diario">ir para a aba de Diário de Anotações</button>
            </div>



        </div>



      </div>
    </div>


  </div>


</div>

<div class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 mx-auto">
        <div class=" my-5 p-1 p-md-3">
          <div class="p-2 pt-5 p-md-5 mb-4 rounded-3">
            <br>
              <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/8468637-ilustracaoial-mulher-fazendo-yoga-exercicio-alongamento-meditacao-fundo-isolado-vetor.jpg"
              class="img-fluid rounded-3" alt="Phone image">

              <h1 class="display-6 fw-bold">
                 <span class="text-light"> Quer saber sobre exercícios de ajuda?</span>
              </h1>


              <div class="d-grid d-lg-flex text-center gap-2 mt-5">
                <button class="btn btn-light text-primary btn-lg mt-md-auto" type="button" routerLink="/ajuda">ir para a aba de Ajuda </button>
              </div>



          </div>



        </div>
      </div>


    </div>
  </div>
</div>
