
.card img:hover {
  filter: saturate(100%);
  transition: 1s;


}

.card img {
  filter:saturate(60%);


}


.footer {
  height: 10em;
  position: relative;
  background-color: rgb(134, 154, 190);

}

.footer p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color:white

}

a {
  color:white
}






