
<div class="container">
  <div class="col-lg-10 mx-auto">
    <div class="p-md-3">
      <div class="mb-4 rounded-3">
          <h1 style="text-align: center;">
            <span class="text-primary text-center"> Exercícios de relaxamento </span>
          </h1>
          <p class="text-primary text-center" style="font-size: 20px;">Abaixo temos breves resumos sobre exercícios de relaxamento, incluindo texto e um vídeo falando sobre o assunto</p>

           <div class="row row-cols-1 row-cols-md-3 g-4">
            <app-alongamento></app-alongamento>
            <app-meditacao></app-meditacao>
            <app-yoga></app-yoga>
          </div>
    </div>
</div>
</div>
</div>


<div class="bg-primary">
  <div class="container text-center">
    <div class="col-lg-10 mx-auto">
      <div class="p-1 p-md-3">
        <div class="mb-4 rounded-3">

            <h1 >
              <span class="text-light text-center">Recursos de auxilio em caso de crise</span>

            </h1>
            <p class="text-center" style="color:white; font-size: 20px;">Abaixo temos breves resumos sobre recursos de auxílio em caso de crise, incluindo texto e um vídeo falando sobre o assunto</p>

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <app-dicas></app-dicas>
              <app-depressao-sobre></app-depressao-sobre>
              <app-aplicativos></app-aplicativos>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="footer text-center">
    <div class="row">
        <p class="copyright-text">Copyright &copy; 2023 todos os direitos de Fotos e vetores reservados pelo
          <a href="https://pt.vecteezy.com/fotos-gratis">Vecteezy</a>
        </p>

    </div>
</div>




