.footer {
  height: 10em;
  position: relative;
  background-color: rgb(134, 154, 190);

}

.footer p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color:white

}

a {
  color:white
}
